<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <th:block th:replace="fragments/general.html :: header-files"/>
    <title>Admin Add-Admin</title>
</head>
<body>
<th:block th:replace="fragments/general.html :: admin-nav"/>

<!-- Page content-->
<div class="container p-6 pt-3">
    <div class="d-flex justify-content-between mt-3 mb-4 p-2">
        <h2>User Management</h2>
    </div>
    <div>
        <form method="post" th:action="@{/admin/users/add}" th:object="${userEntity}">
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="username">User Name</label>
                <div class="col-sm-10">
                    <input class="form-control" id="username" name="username" placeholder="User Name" th:field="*{username}" type="text">
                    <p class="text-danger" th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></p>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="email">Email</label>
                <div class="col-sm-10">
                    <input class="form-control" id="email" name="email" placeholder="User Email" th:field="*{email}" type="text">
                    <p class="text-danger" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></p>
                </div>
            </div>



            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="role">Role</label>
                <div class="col-sm-10">
                    <select aria-label="Default select example" class="form-select" id="role" name="role" th:field="*{role}">
                        <option th:each="role : ${T(com.vodafone.ecommerce.enums.Role).values()}" th:text="${role}" th:value="${role}"></option>
                    </select>
                    <p class="text-danger" th:errors="*{role}" th:if="${#fields.hasErrors('role')}"></p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-10">
                    <button class="btn btn-primary" type="submit">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
