<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <th:block th:replace="fragments/general.html :: header-files"/>
    <title>Browse Products</title>
</head>
<body>
<th:block th:replace="fragments/general.html :: customer-nav"/>
<!-- Page content-->
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">Tech E-Commerce</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="pt-3 pb-5">
    <div class="container px-6 px-lg-5 mt-3 mb-2">
        <div class="px-6">
            <div class="d-flex justify-content-between">
                <h2><strong>Products<strong></h2>
                <div>
                    <select aria-label="Default select example" class="form-select" id="category" name="category">
                        <option th:each="category : ${T(com.vodafone.ecommerce.enums.Category).values()}" th:text="${category}" th:value="${category}"></option>
                    </select>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-dark" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" th:each="product :${products}">
                <div class="card h-100">
                    <!-- Product image-->
                    <div class="card-img-top text-center" style="padding: 5px">
                        <img alt="..." class="img-fluid" th:src="${product.photoUrl}"/>
                    </div>

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder" th:text="${product.name}">Fancy Product</h5>
                            <!-- Product price-->
                            <span th:text="'$' + ${product.price}">price</span>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" th:href="@{/products/{productId}(productId=${product.id})}">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<th:block th:replace="fragments/general.html :: customer-footer"/>
</body>
</html>
